name: Proton Experimental WoW64 CI

on:
  schedule:
    - cron:  '0 0 1,17 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Download artifact
        id: download-artifact
        uses: dawidd6/action-download-artifact@v2
        continue-on-error: true
        with:
          workflow: bootstrap_wow64.yml
          workflow_conclusion: success
          path: /opt
      - name: Build Proton
        run: |
          sudo apt update
          sudo apt install debootstrap perl git wget xz-utils bubblewrap autoconf
          sudo tar -C /opt -xpf "/opt/Bootstraps WoW64/bootstraps_wow64.tar.xz"
          chmod +x build_wine.sh
          export TERMUX_GLIBC="true"
          export EXPERIMENTAL_WOW64="true"
          WINE_BRANCH=proton PROTON_BRANCH=bleeding-edge ./build_wine.sh
          sha256sum *.tar.xz
      - uses: actions/upload-artifact@v3
        with:
          name: Proton Experimental WoW64
          path: ./*.tar.xz
