name: Wine-Git WoW64 CI

on:
  schedule:
    - cron:  '0 0 */3 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Download artifact
        id: download-artifact
        uses: dawidd6/action-download-artifact@v2
        continue-on-error: true
        with:
          workflow: bootstrap_wow64.yml
          workflow_conclusion: success
          path: /opt
      - name: Build Wine
        run: |
          sudo apt update
          sudo apt install debootstrap perl git wget xz-utils bubblewrap autoconf
          sudo tar -C /opt -xpf "/opt/Bootstraps WoW64/bootstraps_wow64.tar.xz"
          chmod +x build_wine.sh
          export TERMUX_GLIBC="true"
          export EXPERIMENTAL_WOW64="true"
          export WINE_VERSION="git"
          WINE_BRANCH=vanilla ./build_wine.sh
          WINE_BRANCH=staging ./build_wine.sh
          sha256sum *.tar.xz
      - uses: actions/upload-artifact@v3
        with:
          name: Wine-Git
          path: ./*.tar.xz
